@model HCH.Web.Models.ProfileDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h4>@Model.Name</h4>
    <hr />
    <p>@Model.Description</p>
    <hr />

    <div class="container mt-2">
        <a asp-area="" asp-controller="Therapists" asp-action="Index" asp-route-profile="@Model.Name"><h5>Изберете терапевт</h5></a>
        <a asp-area="" asp-controller="Profiles" asp-action="Index"><h5>Към списъка</h5></a>
    </div>
    
</div>
