@model HCH.Web.Models.TreatmentViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h3>Изтриване на лечебно средство</h3>
    <h3>Профил @Model.Profile</h3>

    <div>

        <hr />
        <dl class="dl-horizontal">
            
            <dt>
                Наименование
            </dt>
            <dd>
                @Model.Name
            </dd>
            <dt>
                Описание
            </dt>
            <dd>
                @Model.Description
            </dd>
            <dt>
                Цена
            </dt>
            <dd>
                @Model.Price лв.
            </dd>
        </dl>

        <form asp-area="Therapist" asp-controller="Treatments" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Изтрий" class="btn btn-default" /> |
            <a asp-area="Therapist" asp-controller="Treatments" asp-action="Index_Therapist">Към списъка</a>
        </form>
    </div>
</div>