
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    @foreach (var error in Model)
    {
        <div class="text-center text-danger"><h3>@error</h3></div>
    }

    <div class="button-holder mb-3 text-center">
        <button class="btn harmony-bg-color" onclick="history.back()">Обратно</button>
    </div>
</div>
