
@{
    ViewData["Title"] = "Error";
}


@foreach (var error in Model)
{
    <div class="text-center text-danger"><h2>@error</h2></div>
}

<div class="button-holder mb-3 d-flex justify-content-center">
    <button class="btn chushka-bg-color" onclick="history.back()">Back</button>
</div>
