@model HCH.Web.Models.ProfileViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h4>Изтриване на профил</h4>
    <hr />

    <h4>Наименование: @Model.Name</h4>
    <h4>Описание: @Model.Description</h4>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-default" /> |
        <a asp-action="Index_Admin">Към списъка</a>
    </form>
</div>
