@model HCH.Web.Models.ProfileDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <h4>Име: @Model.Name</h4>
    <hr />
    <h4>Описание: @Model.Description</h4>
    <hr />
    <a asp-area="Admin" asp-controller="Profiles" asp-action="Edit" asp-route-id="@Model.Id">Редактарай</a> |
    <a asp-area="Admin" asp-controller="Profiles" asp-action="Index_Admin">Към Списъка</a>
</div>
