@model HCH.Web.Models.ProfileViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>@Model.Name</h4>
        <hr />
        <h4>@Model.Description</h4>

        <a asp-action="Edit" asp-route-id="@Model.Id">Редактарай</a> |
        <a asp-action="Index_Admin">Към Списъка</a>
    </div>
