@model HCH.Web.Models.FoodSupplementViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Изтриване</h3>
    <h3>Сигурни ли сте, че искате да изтриете този продукт?</h3>
    <div>

        <hr />
        <h4>Хранителна добавка: @Model.Id</h4>
        <h4>Име: @Model.Name</h4>
        <h4>Описание: @Model.Description</h4>
        <h4>Цена: @Model.Price лв.</h4>
        <hr />

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Изтрий" class="btn btn-default" /> |
            <a asp-action="Index_Admin">Обратно към списъка</a>
        </form>
    </div>
</div>
