@model HCH.Web.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <h3>Изтриване на приемен час от графика на терапевт @Model.TherapistFullName</h3>
    <div>
        <hr />

        <h4>Ден от седмицата: @Model.DayOfWeekBg</h4>
        <h4>Приемен час: @Model.VisitingHour</h4>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Изтрий" class="btn harmony-bg-color" /> |
            <a asp-action="Index">Към списъка</a>
        </form>
    </div>
</div>
