@model HCH.Web.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h3>Редактиране на приемен час</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="TherapistId" value="@ViewData["TherapistId"]" />
                <div class="form-group">
                    <label asp-for="DayOfWeekBg" class="control-label"></label>
                    <select asp-for="DayOfWeekBg" asp-items="Html.GetEnumSelectList<HCH.Models.Enums.DayOfWeekBg>()" class="form-control">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="DayOfWeekBg" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VisitingHour" class="control-label"></label>
                    <input asp-for="VisitingHour" class="form-control" />
                    <span asp-validation-for="VisitingHour" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TherapistFullName" class="control-label"></label>
                    <input asp-for="TherapistFullName" value="@ViewData["TherapistFullName"]" class="form-control" readonly/>
                    <span asp-validation-for="TherapistFullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn harmony-bg-color" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
