@{
    ViewData["Title"] = "About";
}


<main class="mt-3">
    <div class="container w-75 justify-content-center">
        <h2 class="mt-3">За нас</h2>
        <hr class="hr-1" />

        <p>Ние сме център за алтернативни методи за лечение "Хармония". Ние ще ви помогнем да откриете своите собствени лечебни сили. Заедно ще извървим пътя към промяна и хармония. При нас ще откриете нови възможности за преодоляване на дългогодишни здравни проблеми без странични ефекти. Тук ще получите индивидуално отношение и грижа.</p>
        <p>В нашия център може да посетите хомеопатичен кабинет, студио за Скенар-терапия и студио за рейки-масажи. Там че ви посрещнат подготвени и доказали се в практиката специалисти, които ще анализират вашите оплаквания и проблеми и ще изберат подходящата за вас терапия за постигане на максимален положителен резултат.</p>

        <h2 class="mt-3">Как да се свържите с нас и да ни посетите:</h2>
        <hr class="hr-1" />

        <p>В нашия сайт можете да си запазите час за избрания от вас специалист.</p>
        <p>Адресът на нашия център е гр.Варна, ул.Кирил Шиваров 35.</p>
        <p>Ако имате въпроси, можете да ни пишете на адрес: harmony_center@@harmony.bg</p>
        <p>Или да ни се обадите на тел. +359 888123456.</p>
    </div>
</main>