@{
    ViewData["Title"] = "Home Page";
}

<div class="remove-all-margin-padding" style="background-image: url(../images/water1.jpg); margin-left:0px; margin-right:0px; background-size:cover; background-position:center; background-repeat:no-repeat; height:300px; ">
    @*opacity: 0.6; filter:alpha(opacity=60);*@

<div class="container-fluid text-center text-black">
    <h1>Открийте своите собствени лечебни сили!</h1>
</div>
</div>

<div class="container">
    <div><h3>Нещо интересно:</h3></div>

    <hr class="hr-1 remove-all-margin-padding"/>

    <div class="row">
        <div class="col-md-3">
            <h4>Нормализиране на емоционалното състояние</h4>
            <div>
                <p>Съществува метод за лечение с помощта на особени лечебни жестове и звуци - пръсто-звуков метод. Всъщност емоцията, една или друга, представлява възбуждане на енергията в един или друг канал.</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Маслата като храна и лекарство</h4>
            <div>
                <p>В древната тибетска книга за здравето „Чжуд-ши“ цяла глава е посветена на продуктите, които се използват за храна и се нарича „За вкусовете“. В нея подобяващо място е отредено и на използването на масла: топените мазнини от животински произход, растителните масла, кулинарните мазнини, използващи се при готвенето на ястия за придаване на приятен аромат и вкус, включително и мазнините, които се съдържат в самите продукти и са невидими.</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Причини и лечение на болестта</h4>
            <div>
                <p>Драмата на всяка болестна атака се обуславя с натрупване на вредни вещества, вредни метаболити, които нападнатият организъм не е в състояние нито да разгради, нито да изгори, нито да окисли. Проблемите на имунитета, антителата, микробиологията, инфекциите, алергиите, хроническите прогресивни деформации трябва основателно да бъдат преразгледани. </p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Точката, предпазваща от сто болести</h4>
            <div>
                <p>
                    В Китай тя е известна под името “точката на дълголетието”, а в Япония – точка, “предпазваща от сто болести”. На Японските острови с нея е свързано любопитно предание. Веднъж един управник пожелал да се запознае с най-възрастните хора в Страната на изгряващото слънце. При него довели селянин на име Мампе, който по това време навършвал 194 години.
                </p>
            </div>
        </div>
    </div>
</div>