@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <img src="~/images/water1.jpg" alt="ASP.NET" class="img-responsive" style="width:100%" />
            <div class="carousel-caption" role="option">
                <p>
                    Хомеопатия
                    <a class="btn" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/water1.jpg" alt="Visual Studio" class="img-responsive" style="width:100%" />
            <div class="carousel-caption" role="option">
                <p>
                    СКЕНАР
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/water1.jpg" alt="Microsoft Azure" class="img-responsive" style="width:100%" />
            <div class="carousel-caption" role="option">
                <p>
                    Рейки
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="container-fluid text-center" id="text" style="position:absolute; top:0; left:0; right:0;">
            <h1 style="font:bold;">Открийте своите собствени лечебни сили!</h1>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid">
    <div><h3>Нещо интересно:</h3></div>

    <hr class="mt-0 mb-0" />

    <div class="row">
        <div class="col-md-3">
            <h4>Нормализиране на емоционалното състояни</h4>
            <div>
                <p>Съществува метод за лечение с помощта на особени лечебни жестове и звуци - пръсто-звуков метод. Всъщност емоцията, една или друга, представлява възбуждане на енергията в един или друг канал.</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Маслата като храна и лекарство</h4>
            <div>
                <p>В древната тибетска книга за здравето „Чжуд-ши“ цяла глава е посветена на продуктите, които се използват за храна и се нарича „За вкусовете“. В нея подобяващо място е отредено и на използването на масла: топените мазнини от животински произход, растителните масла, кулинарните мазнини, използващи се при готвенето на ястия за придаване на приятен аромат и вкус, включително и мазнините, които се съдържат в самите продукти и са невидими.</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Причини и лечение на болестта</h4>
            <div>
                <p>Драмата на всяка болестна атака се обуславя с натрупване на вредни вещества, вредни метаболити, които нападнатият организм не е в състояние нито да разгради, нито да изгори, нито да окисли. Проблемите на имунитета, антителата, микробиологията, инфекциите, алергиите, хроническите прогресивни деформации трябва основателно да бъдат преразгледани. </p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Точката, предпазваща от сто болести</h4>
            <div>
                <p>
                    В Китай тя е известна под името “точката на дълголетието”, а в Япония – точка, “предпазваща от сто болести”. На Японските острови с нея е свързано любопитно предание. Веднъж един управник пожелал да се запознае с най-възрастните хора в Страната на изгряващото слънце. При него довели селянин на име Мампе, който по това време навършвал 194 години.
                </p>
            </div>
        </div>
    </div>
</div>
