@{
    ViewData["Title"] = "Home Page";
}

<div class="remove-all-margin-padding" style="background-image: url(../images/water1.jpg); margin-left:0px; margin-right:0px; background-size:cover; background-position:center; background-repeat:no-repeat; height:300px; ">
    @*opacity: 0.6; filter:alpha(opacity=60);*@

<div class="container-fluid text-center text-black">
    <h1>Открийте своите собствени лечебни сили!</h1>
</div>
</div>

<div class="container-fluid">

    <div>
        @await Component.InvokeAsync("Profiles", new {  })
    </div>
</div>